.xxl-font-3 {
    font-size: 3rem;
    font-weight: 300;
}

.nav-link{
    font-size: 1.5rem;
}

.nav-item{
    align-self: center;
}

.pt-2rem{
    padding-top: 2rem;
}

.mr-3rem{
    margin-right: 3rem;
}

.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 1.5rem;
    padding: 0em;
    /*border-radius: 999px;*/
    line-height: 0em;
    color: white;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    /*border-style: solid;*/
    border: none;
}

.border-checkout{
    border: none;
    border-bottom: 1px solid grey;
}

.w-30rem{
    width: 30rem;
}

.navdark .fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 1.5rem;
    padding: 0em;
    /*border-radius: 999px;*/
    line-height: 0em;
    color: #343a40 ;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    /*border-style: solid;*/
    border: none;
}


#box {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#box:hover {
    opacity: 0.5;
}

#box:hover #box-title {
    opacity: 0.8;
    transition: 1000ms;
}

#box-title {
    font-family: "Permanent Marker";
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 38%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    opacity: 0;
    font-size: 4rem;
}

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/

    #carousel-example .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    #carousel-example .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    #carousel-example .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    #carousel-example .carousel-inner .active + .carousel-item {
        display: block;
    }
    #carousel-example .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #carousel-example .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    #carousel-example .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    #carousel-example .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #carousel-example .carousel-item-next.carousel-item-left + .carousel-item,
    #carousel-example .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    #carousel-example .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    #carousel-example .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #carousel-example .carousel-item-prev.carousel-item-right + .carousel-item,
    #carousel-example .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    #carousel-example .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    #carousel-example .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    #carousel-example .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    #carousel-example .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    #carousel-example .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    #carousel-example .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    #carousel-example .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    #carousel-example .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    #carousel-example .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    #carousel-example .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
#box img{
    height: auto;
    max-width: 100%;
}

@media (min-width: 576px) {
    #box img{
        height: auto;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    #box img{
        height: auto;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    #box img{
        height: auto;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
#box img {

    width: 500px;
    height: 500px;
    object-fit: cover;
}
}
