//inspect element afmetingen checken: 576, 1024, 1366, 1920, 2560

body{
  font-family: 'Rajdhani', sans-serif;
}

.bottom-3{
    position: absolute;
    bottom: 16px;
}

//colors

.bg-lightgrey{
  background-color: #eeeeee;
}


.bg-grey{
  background-color: rgba(0,0,0,0.4);
}

.text-turqoise{
  color: #1dd2af;
}

.bg-darkblue{
  background-color: #000026;
}

.bg-darkgrey{
  background-color: #0c0f12;
}

.bg-darkgrey.scrolled{
  background-color: #0c0f12;
}

.bg-blue{
  background-color: rgba(36, 102, 97, 1);
}

.text-blue{
  color: rgba(36, 102, 97, 1);
}

//fonts

.text-header{
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  color: rgba(255,255,255,0.5);
}

.destination-header{
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 700%;
  color: rgba(255,255,255,0.5);
}

.font-small-300{
  font-size: small;
  font-weight: 300;
}

.font-small{
  font-size: small;
}

.large-font-300{
  font-weight: 300;
  font-size: large;
}

.xxl-font-300{
  font-size: xx-large;
  font-weight: 300;
}

.font-large{
  font-size: large;
}

.font-xl{
  font-size: x-large;
}

.font-xxl{
  font-size: xx-large;
}

h2{
  font-size: xx-large;
  font-weight: 400;

}

//PADDINGS & MARGINS
.mr-5pr{
  margin-right: 5%;
}

.ml-5pr{
  margin-left: 5%;
}

.mb-4pr{
  margin-bottom: 4%;
}
.pt-1pr{
  padding-top: 1%;
}

.pb-1pr{
  padding-bottom: 1%;
}

.p-1pr{
  padding: 1%;
}

.pb-2pr{
  padding-bottom: 2%;
}

.pt-2pr{
  padding-top: 2%;
}

.mt-1pr{
  margin-top: 1%;
}

.pt-4pr{
  padding-top: 4%;
}

.pb-4pr{
  padding-bottom: 4%;
}

.pb-5pr{
  padding-bottom: 5%;
}

.mb-1pr{
  margin-bottom: 1%;
}

.mr-4pr{
  margin-right: 4%;
}

.pt-3pr{
  padding-top: 3%;
}

.pb-3pr{
  padding-bottom: 3%;

}

.mt-3pr{
  margin-top: 3%;
}

.pt-6pr{
  padding-top: 6%;
}

.mb-2pr{
  margin-bottom: 2%;
}

.pl-4pr{
  padding-left: 4%;
}

.pr-4pr{
  padding-right: 4%;
}

.mt-2pr{
  margin-top: 2%;
}

.ml-4pr{
  margin-left: 4%;
}


.ml-30pr{
  margin-left: 30%;
}

.ml-70pr{
  margin-left: 70%;
}

.pl-15px{
  padding-left: 15px;
}

/*.px-6pr{
  padding-left: 6%;
  padding-right: 6%;
}*/

//REST

.product{
  //position: relative;
}

.icon-shopping-cart{
  float: right;

  /*position: absolute;
  top: 50%;
  left: 50%;
  tranform: translate(-50%,-50%) !important;*/
}

.filter {
  height: 25px;
  border: none;
  background: none;
  font-size: x-large;
}

.eachfilter{
  position: absolute;
  float: left;
  display: none;
}

.inner-filter{
  width: 280px;
}

.z-index-5{
  z-index: 5;
}

.dot {
  height: 3px;
  width: 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
 //margin-bottom: 1%;
  }

/*#position-navbar{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}*/

#background-search{
  background-color:rgba(255,255,255,0.3);
}

.border-none{
  border: none;
}

.border-grey{
  border: grey 1px solid;
  border-radius: 3px;
}

.border-right{
  border-right: white solid 1px;
}

/*.parallax {
  background-image: url("../img/man.png");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

.vertical-align{
  vertical-align: center;
}


#subtext-header{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 300;
  font-size: large;
  }


.header-button{
  background-color: rgba(255,255,255,0.2);
  width: 100px;
  color: white;
}


.input-group-btn{
  height: 38px;
}

.bg-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 35px;
  background-color: rgba(255,255,255,0.2);
}


.travel-type {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/Travel_Type1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.footer-border{
  border-top: 1px rgba(255,255,255,0.2) solid;
}

#Reviews{
  display: none;
}

.arrow-up{
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid black;
}


//SLICK SLIDER
/*
.slick-slider{
  display: flex;
}

.slick-slider, .slick-items{
  width: 149px;
  height: 250px;
  margin: 1%;
}

.slick-slider, .slick-items img{
  width: 149px;
  height: 250px;
  transition: all linear 0.4s;
}

.slick-items::after {
  display: block;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  margin-top: -240px;
  height: 231px;
  width: 149px;
  content: '';
  z-index: 0;
}

.slick-center img{
  transform: scale(1.2);
}

.slick-center::after{
  background-image: none !important;


}

.prev, .next{
  //margin-top: 20px;
  position: relative;
  display: block;
!*  height: 20px;
  width: 20px;*!

}

.prev{
  float: left;
}

.next{
  float: right;
}

.bounce{
  display: inline-block;
  position: relative;
}*/

//CAROUSEL IPV SLICK





//HOVERS

@-webkit-keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}@keyframes shadow-drop-center{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,.35);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}

@-webkit-keyframes bounce-bottom{0%{-webkit-transform:translateY(45px);transform:translateY(45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(24px);transform:translateY(24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(12px);transform:translateY(12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(6px);transform:translateY(6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(4px);transform:translateY(4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-bottom{0%{-webkit-transform:translateY(45px);transform:translateY(45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(24px);transform:translateY(24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(12px);transform:translateY(12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(6px);transform:translateY(6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(4px);transform:translateY(4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}

.bounce:hover{
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
}

@-webkit-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-moz-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-o-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@-ms-keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}
@keyframes bounce {
  0% { top: 0; }
  50% { top: -0.2em; }
  70% { top: -0.3em; }
  100% { top: 0; }
}

.btn-product-page:hover{
  font-weight: bolder;
}

.header-button:hover{
  text-decoration: none;
  //background-color: #1dd2af;
  background-color: white;
  color: #0c0f12;
}

a.travel:hover {
  text-decoration: none;

  .bg-circle {
    top: calc(50% - 120px);
    left: calc(50% - 120px);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow:
            inset 0 0 50px #fff,
            inset 20px 0 80px #ffc747,
            inset -20px 0 80px #ffb60f,
            inset 20px 0 300px #ffc747,
            inset -20px 0 300px #ffb60f,
            0 0 50px #fff,
            -10px 0 80px #ffc747,
            10px 0 80px #ffb60f;  }
}

.ClientButton:hover,.add-to-cart:hover{
  background-color: rgba(36, 102, 97, 1);
  color: white !important;
}


.footer-button{
  background-color: rgba(255,255,255,0.2);
  border: none;
}

.footer-icon:hover{
  color: white !important;
}

.footer-padding{
  padding-top: 4%;
}


.small {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.7, 0.7); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}



//PAGINA 2

//STIJL PRODUCTEN

.hovereffect {
  width: 100%;
  height: 80%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 8em;
  background: rgba(0,0,0,0.5);
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  visibility: hidden;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #000;
}


.hovereffect p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
  color: #252d31;
}

.hovereffect p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
  visibility: visible;
}

.hovereffect p.icon-links a i:before {
  display: inline-block;
  padding: 8px 10px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover p.icon-links a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 10;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


.bg-circle-small-icon{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  vertical-align: middle;
  background-color: rgba(0,0,0,0.4);
}

.product-icon-1:hover{
  color: rgb(38, 38, 38) !important;
  background-color: rgba(0,0,0,0.4);
}

//OVERLAY IMAGE PRODUCTS
.product-content{
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.product-content .product-content-overlay{
  background: rgba(225,225,225,0.5);
  position: absolute;
  height: 95.5%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  z-index: 5;
}

.product-content:hover .product-content-overlay{
  opacity: 1;
}

.product-content:hover .product-content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

//FILTER

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 3% 6%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/*.active, .collapsible:hover {
  background-color: #555;
}*/

.content {
  padding: 0 6%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.plus-minus-toggle {
  //cursor: pointer;
  height: 15px;
  position: relative;
  width: 15px;
  &:before,
  &:after{
    background: #fff;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
    transition: transform 500ms ease;
  }
  &:after {
    transform-origin: center;
  }
  &.collapsed {
    &:after {
      transform: rotate(90deg);
    }
    &:before {
      transform: rotate(180deg);
    }
  }
}

//SLIDER RANGE
.price-slider-range {
  width: 100%;
}

.price-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.price-slider:hover {
  opacity: 1;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(36, 102, 97, 1);
  cursor: pointer;
}

.price-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(36, 102, 97, 1);
  cursor: pointer;
}

//FONT AWESOME ICONS
.fa-star,.fa-star-o{
  color: #f9a620;
}


.product-small{
  width: 100%;
  height: auto;
}

//PAGINA 3

.bg-img{
  background-image: url("../img/destination-slider-6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
}

.bg-circle-product-detail{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  padding-right: 2px;
  padding-left: 2px;
  vertical-align: middle;
  background-color: rgb(37, 37, 37);
}

.add-to-cart{
  background-color: rgba(0,0,0,0.4);
}

.img-product-detail{
  width: 100%;
  height: auto;
}


.small {
  object-fit: cover;
  width: 60%;
  height: 60%;
}

.input-type-width{
  width: 80%;
}

.profiel-review {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
}


.w-80{
  width: 80%;
}


//PAGINA 4

.shopping-cart-img{
  width: 100px;
  height: auto;
}

.w-30{
  width: 10%;
  height: 50%;
}

//check out page

//DESTINATIONS

.push-content-down{
margin-top: 250px;
}

#sign-up-bg{
  background-image: url("../img/sign-up.png");
}

.product-title{
  color: black;
}

.product-title:hover{
  text-decoration: none;
  color: black;
}

.btn-proceed{
  color: white;
}


.btn-proceed:hover{
  text-decoration: none;
  color: white;
}

.btn-index{
  color:white;
}

.btn-index:hover{
  text-decoration: none;
  color: black;
}


//PER GROOTTE DEVICES

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .text-header{
    font-size: 200%;
  }

  .input-group{
    width: 30%;
  }

  #product-content-mobile{
    display: block;
  }

  #product-content-medium{
    display: none;
  }

  .parallax {
    background-image: url("../img/man.png");
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .margin-your-order{
    margin-top: 5%;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .text-header {
    font-size: 350%;
  }

  .input-group {
    width: 25%;
  }

  #product-content-mobile{
    display: none;
  }

  #product-content-medium{
    display: block;
  }

  .margin-your-order{
    margin-top: 1%;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .input-group{
    width: 25%;
  }

  .footer-padding{
    padding-top: 0;
  }

  .filter{
    display: none;
  }

  .eachfilter{
    position: static;
    display: block;
  }
  .inner-filter{
    width: auto;
  }

  #position-navbar{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){}


