
/*NAVBAR*/

.xxl-font-3{
    font-size:3rem;
    font-weight:300;
}

/*HOME*/

/*SHOP -- DESTINATIONS*/

.fa-stack[data-count]:after{
    position:absolute;
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 60%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    /*background: #343a40;*/
    border-style: solid;
}

/*.fa-circle{
    color: #DF0000;
}*/

/*home page*/

   /* .parallax{
        background-image:url("{{$banner->photo ? asset('images/banners/' . $banner->photo->file) : "none"}}");
        height:800px;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;background-size:cover}
*/


#box{
    position: relative;
    text-decoration: none;

}
#box :hover{
    opacity: 0.5;
}

#box:hover #box-title{
    opacity: 0.5;
    transition: 1000ms;
}


#box-title{
    font-family: "Permanent Marker";
    color: red;
    position: absolute;
    left: 0;
    right: 0;
    top: 38%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    opacity: 0;
    font-size: 4rem;

}




